<?xml version="1.0"?>
<launch>
  <!-- Start roscore if not already running -->
  <!--<node pkg="roslaunch" type="roscore" name="roscore" output="screen" required="true"/>-->

  <!-- navigator3 (must be executable under package 'flapper' -> script/navigator3.py) -->
  <node pkg="flapper" type="navigator3.py" name="navigator3" output="screen" cwd="node"/>

  <!-- test_navigator (must be executable under package 'flapper' -> script/test_navigator.py) -->
  <node pkg="flapper" type="test_navigator.py" name="test_navigator" output="screen" cwd="node"/>
</launch>
